doctype html
<html lang="en">
<head>
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<link rel="stylesheet" href="/bootstrap-3.3.7/css/bootstrap.min.css">

link(rel='stylesheet', href='/css/main.css')

<title>admin</title>
</head>
<body>
header
    h2
        span KOMG
div(id='content')

    div(class='node navbar justify-content-between')
        div(class='navbar-left')
            span node:
            span=nodes
        div(class='navbar-right')
            button(class='btn glyphicon glyphicon-inbox')
            button(class='btn glyphicon glyphicon-refresh')
            button(class='btn glyphicon glyphicon-fullscreen')

    ul(class='main',id='sortable')
        each api in data
            li(class='api')
                div(class='base navbar justify-content-between row')

                    div(class='navbar-left col-md-8')
                        div(class='name col-md-4')
                            span Name:
                            b=api.name
                        div(class='path col-md-4')
                            span Path:
                            input(old=api.url,value=api.path, type='text',disabled="disabled")
                        span T
                            dd(class="badge badge-info") #{api.targets.length}
                        span C
                            dd(class="badge badge-info") #{api.consumers.length}
                        span O
                            dd(class="badge badge-info") #{api.order}

                    div(class='navbar-right')
                        button(class='btn glyphicon glyphicon-pencil')
                        button(class='btn glyphicon glyphicon-inbox')
                        button(class='btn glyphicon glyphicon-refresh')
                        button(class="btn btn-primary glyphicon glyphicon-chevron-down",type="button",data-toggle="collapse",data-target="#" + api.name + '-collapse' ,aria-expanded="false", aria-controls=api.name + '-collapse')
                div(class='collapse content',id=api.name + '-collapse')
                    hr
                    div(class='targets row')
                        span(class='col-md-1') Targets:
                        ul(class='col-md-10')
                            li(class='col-md-10')
                                span(class='col-md-5') url
                                span(class='col-md-2') weight
                                span(class='col-md-2') status
                                span(class='col-md-1 glyphicon glyphicon-plus-sign')
                            each target in api.targets
                                li(class='col-md-10')
                                    input(old=target.url,value=target.url, type='text',class='col-md-5',disabled="disabled")
                                    input(value=target.weight, type='text',class='col-md-2',disabled="disabled")
                                    div(class="sel col-md-2")
                                        select(disabled="disabled")
                                            option(class='good',value="1",selected=target.status==1) &#xe135
                                            option(class='ban',value="0",selected=target.status==0) &#xe135
                                            option(class='bad',value="-1",selected=target.status==-1) &#xe135
                                    span(class='col-md-1 glyphicon glyphicon-minus-sign')
                    hr
                    div(class='consumers row')
                        span(class='col-md-1') Consumers:
                        ul(class='col-md-10')
                            li(class='col-md-10')
                                span(class='col-md-5') apikey
                                span(class='col-md-2') status
                                span(class='col-md-1 glyphicon glyphicon-plus-sign')
                            each consumer in api.consumers
                                li(class='col-md-10')
                                    input(value=consumer.apikey, type='text',class='col-md-5',disabled="disabled")
                                    div(class="sel col-md-2")
                                        select(disabled="disabled")
                                            option(class='good',value="1",selected="selected") &#xe135
                                            option(class='ban',value="0") &#xe135
                                            option(class='bad',value="-1") &#xe135
                                    span(class='col-md-1 glyphicon glyphicon-minus-sign')
                    hr
                    div(class='order row')
                        span(class='col-md-1') Order:
                        input(value=api.order, type='text',class='col-md-1',disabled="disabled")
                        a(href='javascript:void(0)',class='remove') remove this one !!
        li(class='api add')
            span(class='glyphicon glyphicon-plus-sign')

footer
    div copyright
<script src="/js/jquery.min.js"></script>
<script src="/bootstrap-3.3.7/js/bootstrap.min.js"></script>
<script src="/js/main.js"></script>
</body>
</html>